<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->

<!--    &lt;!&ndash; 控制台输出 &ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
<!--            <charset>utf8</charset>-->
<!--        </encoder>-->

<!--    </appender>-->


<!--    <root>-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </root>-->

</configuration>
